.about {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 400px; /* Use auto for height if content size is dynamic */
    margin: 3rem 0;
}

.about .left {
    padding: 1rem;
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

}

.about .right {
    max-width: 50%;
    padding: 1rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative; /* Necessary for containing absolutely positioned elements */
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 20rem;
    width: 100%;
    height: 100%;
}

.right img {
    height: 300px;
    width: 300px;
    border: 1px solid #333;
    box-shadow: -5px 5px 25px rgba(199, 188, 188, 0.5); /* Add shadow for 
    better depth */
    border-radius: 35px;
}

.right .img-stack-top {
    position: absolute;
    top: 80px; /* Adjust as needed */
    right: 100px; /* Adjust as needed */
    z-index: 4;
}

.right .img-stack-bottom {
    position: absolute;
    top: 0; /* Adjust as needed */
    right: 0; /* Adjust as needed */
    z-index: 2;
}
@media screen and (max-width:640px) {
    .about{
        display: flex;
        flex-direction: column;
        height: 800px;
        justify-content: center;
        align-items: center;
    }
    .right{
        left: 30%;
    }
}